html,body{
    
    background-image: url("sky.jpg");
    background-size:cover;                     
    background-repeat:no-repeat;
    background-position: center center;   
    
}
h5{
    font-size: xxx-large;
}
#header{
    margin : 2rem 2rem 2rem 2rem;
}
#footer{
    color: whitesmoke;
    text-align: center;
}
.city{
    margin : 2rem;
    text-align: center;
}
.card{
    margin: 1rem;
    padding-top: 1rem;
}
.card-body{
    font-family: 'Anton', sans-serif;
    font-size:xx-large;
}
.today{
    padding: 0rem;
    font-size: xxx-large;
    
}
.card-img{
    width: 5rem;
}