html,body{
    text-align:center;
    background-image: url("beautiful-sky-with-mountains-distance.jpg");
    background-size:cover;                     
    background-repeat:no-repeat;
    background-position: center center;   
    
}

#header{
    margin : 5rem;
}
.city{
    margin : 2rem;
    text-align: center;
}
.card{
    margin: 1rem;
}
